        body{
            background-color: rgba(60, 95, 20, 0.552);
            color: white;
        }
       
        .main-page {
            background-color: rgb(101, 129, 56);
            margin:50px;
            border-radius: 8px;
        }
        
        .nav-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .icons {
            display: flex;
            gap: 20px;
            font-size: 20px;
        }
        .nav-icon,.search-icon {
            text-decoration: none;
            color: white;
            margin-right: 40px;
        }

        .name {
            margin-left: 50px;
            font-size: 30px;
        }
        .search-icon {
            width: 20px;
        }

        .body-section{
            display: flex;
            justify-content: space-between;
        }

        .info-section {
            margin-left: 50px;
            margin-top: 40px;
        }
        .item-name{
            font-size: 60px;
        }
        button {
            border-radius: 15px;
            margin-right: 5px;
            padding-left :8px;
            padding-right:8px;
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: transparent;
            color: rgb(223, 217, 217);
            border: solid;
            border-width: 1px;
        }
        .time-section {
            display: flex;
            align-items: center;
        }
        .waiting-time {
            margin-left: auto; 
        }

        .readnow-button {
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 18px;
            background-color: black;
            border:none;
            display: block;
            margin-left: 50px;   

        }
        .brownie-img {
            width: auto;
            margin-top: 20px;
            border-bottom-left-radius: 200px;
            border-top-left-radius: 200px;
            border-bottom-right-radius: 100px;
            border-top-right-radius: 100px;

        }

        @media (min-width:200px) and (max-width:1040px){
            .brownie-img{
                width: 100%;
                border-bottom-left-radius: 200px;
                border-top-left-radius: 200px;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
            }

            .item-name{
                font-size: 25px;
            }
            .description{
                font-size: 10px;

            }
            .name{
                font-size: 20px;
            }
            .icons{
                font-size: 10px;
                display: flex;
                align-items: center;
                gap: 8px;
            }

            .time-section{
                display: block;
                
            }
            .baking-button{
                top: 15px;
            }

        }

        @media(min-width: 1040px) and (max-width:1080px){
            .brownie-img{
                width: 100;
                border-bottom-left-radius: 200px;
                border-top-left-radius: 200px;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
            }
            .item-name{
                font-size: 40px;
            }

        }
         @media(min-width:200px) and (max-width:600px){
            .icons{
                display: none;
            }
            .name{
                font-size: 10px;
            }
        }
        

       
    


        

