        body{
            background-color: rgba(60, 95, 20, 0.552);
            color: white;
        }
       
        .main-page {
            background-color: rgb(101, 129, 56);
            margin:50px;
            border-radius: 8px;
            padding-bottom: 20px;
        }
        
        .nav-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .icons {
            display: flex;
            gap: 20px;
            font-size: 20px;
        }
        .nav-icon,.search-icon {
            text-decoration: none;
            color: white;
            margin-right: 40px;
        }

        .name {
            margin-left: 50px;
            font-size: 20px;
        }
        .search-icon {
            width: 20px;
        }

        .body-section{
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;
            padding-bottom:0;
        }

        .info-section {
            margin-left: 50px;
            margin-top: 40px;
        }
        .item-name{
            font-size: 40px;
        }
        button {
            border-radius: 25px;
            margin-right: 10px;
            background-color: transparent;
            color: rgb(223, 217, 217);
            border: solid;
            border-width: 1px;
            font-size: 20px;
            padding-left:15px;
            padding-top: 10px;
            padding-bottom:10px;
            padding-right:15px;
        }
        .time-section {
            display: flex;
            align-items: center;
        }
        .waiting-time {
            margin-left: auto; 
            font-size: 18px;
        }

        .readnow-button {
            font-size: medium;
            position: relative;
            bottom:60px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 18px;
            background-color: black;
            border:none;
            margin-left: 50px;

        }
        .brownie-img {
            height: auto;
            width: 100%;
            display:block;
            margin-top: 20px;
            border-bottom-left-radius: 200px;
            border-top-left-radius: 200px;
            border-bottom-right-radius: 100px;
            border-top-right-radius: 100px;

        }

        @media (min-width:200px) and (max-width:900px){
            .body-section{
               display:flex;
            }
            .brownie-img{
                width: 100%;
                height: 300px;
                object-fit: cover;
                object-position: center;
                margin: 20px auto;
                border-bottom-left-radius: 350px;
                border-top-left-radius: 350px;
                border-bottom-right-radius: 150px;
                border-top-right-radius: 150px;
                margin-right:0;
            }

            .item-name{
                font-size: 25px;
            }
            .description{
                font-size: 15px;

            }
            .name{
                font-size: 20px;
            }
            .icons{
                font-size: 15px;
                display: flex;
                align-items: center;
                gap: 8px;
            }

            .baking-button, .howto-button{
                top: 15px;
                font-size: 10px;
                padding-top:6px;
                padding-bottom:6px;
                padding-left: 10px;
                padding-right:10px;
                gap:10px;
            }
            .readnow-button {
                bottom:80px;
                font-size: 12px;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 12px; 
            }


        }

        @media(min-width: 1040px) and (max-width:1080px){
            .brownie-img{
                width: 100%;
                height: 300px;
                object-fit: cover;
                object-position: center;
                border-bottom-left-radius: 200px;
                border-top-left-radius: 200px;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
            }
            .item-name{
                font-size: 30px;
            }
            .readnow-button {
                bottom: 10px;
                font-size: 15px;
            }
            .howto-button, .baking-button{
                margin-right:10px;
                font-size: medium;
            }
            .waiting-time{
                font-size:15px;
            }
            .time-section{
                display: block;
            }

        }

        @media(min-width:200px) and (max-width:600px){
            .icons{
                display: none;
            }
            .name{
                font-size: 10px;
            }
        }
        @media (min-width: 901px) and (max-width: 1040px){
            .brownie-img{
                height: auto;
                max-width: 400px;
            }
            .baking-button,.howto-button{
                font-size: 12px;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 12px;
            }
            .readnow-button{
                font-size:10px;
                bottom: 8px;
            }
        }
    

        
